.mystyle {
    color: red;
  
}

.size{
    width:50%;
    float: left;
    margin: 5px;
}

[contenteditable="true"]:focus{
    border:none;
    outline:none;
    overflow: hidden;
    }

    h3{
        height: 36px;
    }

.underline{
    text-decoration: line-through;
    opacity: 0.6;
}